# === PowerShell ===
*.ps1~
*.psm1~
*.psd1~
*.bak

# === Bash ===
*.sh~
*~

# === Python ===
__pycache__/
*.py[cod]
*$py.class
env/
venv/
ENV/
.venv/
.ipynb_checkpoints/
.env
*.log

# === VS Code ===
.vscode/

# === OS System Files ===
.DS_Store
Thumbs.db
